@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.5rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.7019 0.15768 160.4375);
	--primary-foreground: oklch(0.982 0.018 155.826);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-forground: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.723 0.219 149.579);
	--chart-1: oklch(0.8034 0.1907 153.8003);
	--chart-2: oklch(0.5393 0.2713 286.7462);
	--chart-3: oklch(0.7362 0.1782 50.4375);
	--chart-4: oklch(0.5849 0.2273 260.4248);
	--chart-5: oklch(0.559 0 0);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.723 0.219 149.579);
	--sidebar-primary-foreground: oklch(0.982 0.018 155.826);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.723 0.219 149.579);
}

.dark {
	--background: oklch(0.2217 0.0084 264.3897);
	--foreground: oklch(0.9551 0 0);
	--card: oklch(0.2535 0.0114 278.0596);
	--card-foreground: oklch(0.9551 0 0);
	--popover: oklch(0.2535 0.0114 278.0596);
	--popover-foreground: oklch(0.9551 0 0);
	--primary: oklch(0.7019 0.1577 160.4375);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.2904 0.0188 272.0594);
	--secondary-foreground: oklch(0.9551 0 0);
	--muted: oklch(0.2904 0.0188 272.0594);
	--muted-foreground: oklch(0.7058 0 0);
	--accent: oklch(0.4747 0.0194 297.0952);
	--accent-foreground: oklch(0.9706 0.0017 67.8024);
	--destructive: oklch(0.7102 0.1824 22.9075);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3258 0.0127 273.0021);
	--input: oklch(0.3258 0.0127 273.0021);
	--ring: oklch(0.7019 0.1577 160.4375);

	--chart-1: oklch(0.8693 0.2333 149.3428);
	--chart-2: oklch(0.6132 0.2294 291.7437);
	--chart-3: oklch(0.8053 0.1109 19.7816);
	--chart-4: oklch(0.6648 0.1782 260.1549);
	--chart-5: oklch(0.7058 0 0);

	--sidebar: oklch(0.2103 0.0059 285.8852);
	--sidebar-foreground: oklch(0.9551 0 0);
	--sidebar-primary: oklch(0.7019 0.1577 160.4375);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.2904 0.0188 272.0594);
	--sidebar-accent-foreground: oklch(0.9551 0 0);
	--sidebar-border: oklch(0.3258 0.0127 273.0021);
	--sidebar-ring: oklch(0.7019 0.1577 160.4375);
	--font-sans: Plus Jakarta Sans, sans-serif;
	--font-serif: Lora, serif;
	--font-mono: IBM Plex Mono, monospace;
	--radius: 0.5rem;
	--shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
	--shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
	--shadow-sm:
		0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
		0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow:
		0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
		0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-md:
		0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
		0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-lg:
		0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
		0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-xl:
		0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
		0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.4);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
